@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&family=Russo+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

a {
  text-decoration: none; }

.container {
  width: 100%;
  max-width: 73.25%;
  margin: 0 auto; }

.button {
  justify-self: center;
  width: 200px;
  height: 40px;
  display: flex;
  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat;
  align-items: center;
  justify-items: center; }
  .button p {
    font-weight: 400;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: white; }
  .button img {
    margin-left: 12px; }

.title {
  font-family: 'Russo One', sans-serif;
  font-weight: 400;
  font-size: 1.875em;
  text-transform: uppercase;
  color: white; }

.about__text {
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
  color: white; }

body {
  transition-duration: 1s;
  background-color: #2a363b;
  font-family: 'Roboto', sans-serif; }
  body .header {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
    body .header .container {
      position: relative;
      height: 100%;
      display: grid; }
      body .header .container .header__content {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 100px;
        align-items: center; }
        body .header .container .header__content .logo {
          font-weight: 700;
          font-size: 1.5em;
          color: #ab7b01; }
        body .header .container .header__content .navigation ul {
          display: flex;
          justify-content: center;
          list-style: none; }
          body .header .container .header__content .navigation ul li {
            margin-left: 25px; }
            body .header .container .header__content .navigation ul li a {
              font-weight: 300;
              color: white;
              font-size: 1.125em; }
            body .header .container .header__content .navigation ul li a:hover {
              color: #f1b10d; }
          body .header .container .header__content .navigation ul li:first-child {
            margin-left: 0; }
        body .header .container .header__content .header__phone {
          display: grid;
          grid-template-rows: 60% 40%;
          text-align: right;
          height: 100%; }
          body .header .container .header__content .header__phone .phone {
            display: flex;
            justify-content: space-between;
            color: white;
            font-weight: 400;
            font-size: 1.125em;
            align-self: end; }
            body .header .container .header__content .header__phone .phone .fa {
              margin-right: 18px;
              font-size: 1.125em; }
          body .header .container .header__content .header__phone .call {
            font-weight: 300;
            color: #ab7b01;
            align-self: center;
            font-style: 0.875em;
            letter-spacing: 0.7; }
      body .header .container .header__main {
        display: grid;
        grid-row-gap: 33px;
        width: 100%;
        align-self: center;
        color: white;
        grid-template-columns: 542px auto; }
        body .header .container .header__main .title__header {
          grid-area: 1/1/2/3;
          font-family: 'Russo One', sans-serif;
          font-weight: 400;
          font-size: 3em;
          text-transform: uppercase; }
        body .header .container .header__main .about {
          grid-area: 2/1/3/3;
          font-weight: 400;
          font-size: 0.875em;
          line-height: 20px;
          color: #d0cece;
          border-left: 3px solid #ab7b01;
          padding-left: 2.5597269625%;
          height: 60px;
          display: grid;
          align-items: center; }
        body .header .container .header__main .button {
          grid-area: 3/1/4/2;
          margin-top: 20px; }
  body .main .section {
    padding-top: 80px; }
    body .main .section .section__content {
      display: grid;
      grid-template-rows: auto auto;
      grid-row-gap: 60px; }
      body .main .section .section__content .section__main {
        display: grid;
        grid-template-columns: 50% 50%; }
        body .main .section .section__content .section__main .about__text__content {
          display: grid;
          grid-row-gap: 35px;
          padding-bottom: 60px;
          padding-left: 30px; }
        body .main .section .section__content .section__main .image {
          display: grid;
          align-items: end;
          justify-items: center; }
          body .main .section .section__content .section__main .image .border {
            position: relative;
            max-width: 458px;
            width: 100%; }
            body .main .section .section__content .section__main .image .border img {
              position: relative;
              max-width: 100%;
              z-index: 2;
              bottom: 0; }
          body .main .section .section__content .section__main .image .border::before {
            content: "";
            z-index: 1;
            position: absolute;
            width: 100%;
            height: 100%;
            top: -30px;
            left: 30px;
            border: 2px solid #ab7b01; }
